#chat-list {
    height: 100vh;
    color: #000000;
    background-color: #D3D3D3;
    min-width: 250px;
}

.chat-list-item {
    border: 0.2px #000000 solid;
}

.chat-list-item:hover {
    cursor: pointer;
    background-color: #DDDDDD;
}