#chat-window {
    background-color: #242424;
    border-radius: 10px;
    float: none;
    width: 100%;
    height: 95vh;
    position: relative;
    padding: 20px;
    margin: 5px;
}

#chat-window-header {
    display: flex;
    justify-content: space-between;
}

#toggle-display-user-info-btn {
    height: 50%;
    align-self: center;
}

#messages {
    /* TODO: Change this */
    height: 70%;
}

#message-bubble {
    color: #FFFFFF;
    background-color: blueviolet;
    margin-left: auto;
    width: fit-content;
    max-width: 50%;
    border-radius: 10px;
    text-align: left;
    padding: 5px 15px;
}

#chat-window-footer {
    width: 80%;
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 50px;
}

#message-input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 5px;
}

#message-send-btn {
    margin: 5px;
}